# Google OAuth (from Google Cloud Console shared by backend and frontend)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Backend Configuration
# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Paragon Email
ALLOWED_EMAIL_DOMAIN=@paragoniu.edu.kh

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=True


# Frontend Configuration

NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=

NEXT_PUBLIC_API_URL=http://localhost:8000/api
BACKEND_ORIGIN=http://localhost:8000
